*
{
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.date{
    margin-top: 50px !important;
}
::placeholder
{
    color: white !important;
}
img
{
    height: 100%;
}
.black
{
    background-color: black;
}
